*{
	podding:0;
	margin: 0;
	box-sizing: border-box;
}
.aa{
	background-color: black;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.ab ul{
	display: flex;
	justify-content: center;
}
.ab ul li a{
	color: white;
	margin: 20PX;
	text-decoration: none;
	transition: 0.5;
}
.ab ul li a:hover{
	background-color: blue;
}
.ab p{
	color: grey;
	justify-content: center;
}
.ab ul li a{
	color: white;
	margin: 15px;
	text-decoration:none;
}
.ac p{
	color: grey;
	text-align: center;
}
.ac p:hover{
	color: yellow;
	background-color: green;
}